@import '../../../assets/css/mixins.styl'
.swiper-container
  width 100%
  margin-top px2rem(148)
  .swiper-wrapper
    height px2rem(400)
    .swiper-slide
      height 100%
      img
        width 100%
        height 100%