@import '../../assets/css/mixins.styl'
.home
  width 100%
  height 100%
  background white
  overflow hidden
  .head
    background-color #ffffff
    position fixed
    top 0
    left 0
    right 0
    z-index 5
  .wrapScroll
    width 100%
    height 80%
    margin-top px2rem(148)
    margin-bottom px2rem(100)
    .explain
      width px2rem(750)
      height px2rem(72)
      background-color white
      box-sizing border-box
      display flex
      padding 25px 5px
      justify-content space-around
      .expItem
        font-size 25px
        color black
        display flex
        i
          width px2rem(32)
          height px2rem(32)
          display inline-block
          background-image url('../../assets/images/hook.png')
          background-repeat no-repeat
          background-size cover
    .goodSale
      background #fff
      margin-bottom 5px
      width 100%
      .header
        width 100%
        height px2rem(110)
        display flex
        font-size px2rem(40)
        line-height px2rem(110)
        span
          margin-left 190px
          margin-right px2rem(10)
        i
          width px2rem(30)
          height px2rem(30)
          display inline-block
          background-image url('../../assets/images/right.png')
          background-repeat no-repeat

      .goods
        width 100%
        height px2rem(468)
        overflow hiddden
        padding-left 20px
        ul
          height px2rem(468)
          li
            width 45%
            height 45%
            float left
            background #f4f4f4
            margin-left px2rem(10)
            margin-bottom px2rem(10)
            position relative
            .ctn
              width 100%
              position absolute
              padding-top px2rem(10)
              padding-left px2rem(10)
              .title
                font-size px2rem(30)
              .price
                font-size px2rem(30)
            img
              width 100%
              height 100%
    .indexFloor
      background #fff
      .moveNew
        width px2rem(750)
        height px2rem(260)
        background-image url('../../assets/images/new.png')
        background-size px2rem(750) px2rem(260)
        text-align center
        color #8ba0b6
        font-size 33px
        margin-bottom 20px
        .title
          display inline-block
          margin-top px2rem(80)
        .all
          width px2rem(240)
          height px2rem(56)
          margin px2rem(20) auto
          background #d8e5f1
          line-height px2rem(56)
          i
            width px2rem(10)
            height px2rem(20)
            display inline-block
            background-image url('../../assets/images/move.png')
            background-size px2rem(10) px2rem(22)
            margin-left px2rem(6)
      .two
        background-image url('../../assets/images/hot.png')
        color #b4a078
        .all
          background #f4e9cb

    .countDown
      width 100%
      box-sizing border-box
      height px2rem(320)
      padding px2rem(30) px2rem(40) px2rem(30) px2rem(56)
      margin-bottom px2rem(20)
      background #ffffff
      overflow hidden
      a
        display block
        width 100%
        height 100%
        clearFix()
        .itemLeft
          float left
          padding-top px2rem(40)
          .title
            font-size px2rem(36)
            line-height px2rem(36)
            margin-bottom px2rem(24)
            letter-spacing px2rem(12)
            color #333333
          .countNum
            display inline
            font-size 0
            .time
              display inline-block
              font-size px2rem(32)
              text-align center
              width px2rem(62)
              height px2rem(56)
              line-height px2rem(56)
              border-radius px2rem(4)
              color #ffffff !important
              background #444444 !important
            .colon
              display inline-block
              color #333333 !important
              font-size 30px
              font-weight 700
              width px2rem(20)
              text-align center
              transform translateY(-50%)
          .nextTitle
            margin-top px2rem(40)
            color #333333
            font-size px2rem(24)
            height px2rem(24)
            line-height px2rem(24)
        .itemRight
          width px2rem(320)
          height px2rem(320)
          position relative
          float right
          img
            width 100%
            height 100%
            display block
          .price
            width px2rem(96)
            height px2rem(96)
            position absolute
            background-color rgba(244, 143, 24, .95)
            border-radius 50%
            bottom px2rem(36)
            right px2rem(20)
            color #ffffff
            text-align center
            display flex
            flex-direction column
            justify-content center
            span
              font-size px2rem(24)

    .weal
      width px2rem(750)
      height px2rem(300)
      img
        width 100%
        height 100%
    .subject
      width 100%
      height px2rem(457)
      padding-left px2rem(20)
      padding-bottom px2rem(20)
      .goodsScroll
        width 100%
        display flex
        overflow hidden
        .wrapGoods
          display flex
          .goodItem
            margin-right px2rem(40)
            img
              width px2rem(580)
              height px2rem(320)
            .line
              font-size px2rem(30)
              width px2rem(580)
              height px2rem(40)
              clearFix()
              .title
                ellipsis()
                float left
                color #333
              .price
                float right
                color $main
            .desc
              width px2rem(580)
              height px2rem(36)
              font-size px2rem(30)
              ellipsis()
  .goTop
    position fixed
    z-index 99
    bottom px2rem(120)
    right px2rem(34)
    i
      width px2rem(100)
      height px2rem(100)
      display block
      background url('../../assets/images/goTop.png') no-repeat
  .goodsShow
    width 100%
    height px2rem(440)
    background #fff
    margin-bottom px2rem(10)
    .goodsWrap, .goodsContainer
      margin-left 20px
      display flex
      overflow hidden
      .goodsUl
        display flex
        .goodsLi
          width px2rem(280)
          height px2rem(440)
          margin-right 40px
          .img
            width px2rem(280)
            height px2rem(280)
            background #f4f4f4
            img
              width 100%
              height 100%
          .name
            margin px2rem(10) 0
            padding 0 px2rem(10)
            color #333
            font-size px2rem(28)
            line-height px2rem(34)
            white-space nowrap
            overflow hidden
            text-overflow ellipsis
          .nameDoc
            margin-bottom px2rem(14)
            padding 0 px2rem(10)
            color #7f7f7f
            white-space nowrap
            overflow hidden
            text-overflow ellipsis
            font-size px2rem(24)
            line-height px2rem(30)
          .price
            padding 0 px2rem(10)
            color $main
            line-height 1
            font-size px2rem(28)
      .more
        width px2rem(264)
        height px2rem(264)
        border px2rem(8) solid #f4f4f4
        text-align center
        line-height px2rem(264)
        span
          font-size px2rem(28)
          color #333333