@import '../../../assets/css/mixins.styl'
.goodsShow
  width 100%
  height px2rem(440)
  background #fff
  margin-bottom px2rem(10)
  .goodsWrap, .goodsContainer
    margin-left 20px
    display flex
    overflow hidden
    .goodsUl
      display flex
      .goodsLi
        width px2rem(280)
        height px2rem(440)
        margin-right 40px
        .img
          width px2rem(280)
          height px2rem(280)
          background #f4f4f4
          img
            width 100%
            height 100%
        .name
          margin px2rem(10) 0
          padding 0 px2rem(10)
          color #333
          font-size px2rem(28)
          line-height px2rem(34)
          white-space nowrap
          overflow hidden
          text-overflow ellipsis
        .nameDoc
          margin-bottom px2rem(14)
          padding 0 px2rem(10)
          color #7f7f7f
          white-space nowrap
          overflow hidden
          text-overflow ellipsis
          font-size px2rem(24)
          line-height px2rem(30)
        .price
          padding 0 px2rem(10)
          color $main
          line-height 1
          font-size px2rem(28)
    .more
      width px2rem(264)
      height px2rem(264)
      border px2rem(8) solid #f4f4f4
      text-align center
      line-height px2rem(264)
      span
        font-size px2rem(28)
        color #333333